<div class="jumbotron">
       <h2>About BookerT</h2><br>
       
       <p style="font-size:24px">
<<<<<<< HEAD
        First-generation college students at institutions of higher learning often do not receive the support they need to excel (ie. to thrive, not just survive). BookerT aims to address the lack of funding for professional development, unpaid internships, and family emergencies by leveraging the power of  personal networks. Through crowdfunding, we subsidize the cost of items normally prohibitively unaffordable to students with financial need. These items often include professional attire, plane tickets to conferences, rent and groceries for unpaid summer internships, and general family emergency packages for unexpected medical emergencies, evictions, and other serious and personal events.
        <br><br>
         BookerT will augment the impact of existing resources, such as finanical aid offices and scholarship programs, giving college students from lower-income backgrounds the agency necessary to take more control over their academic and extracurricular lives.
=======
       	BookerT was founded to try to close the equity gap in higher education faced by many first-generation college students. 
       </p>
       <p style="font-size:24px">
        First-generation college students at institutions of higher learning often do not receive the support they need to excel (ie. to thrive, not just survive). BookerT aims to address the lack of funding for professional development, unpaid internships, and family emergencies by leveraging the power of the personal network and crowdfunding in order to subsidize the cost of items normally prohibitively unaffordable to the average first-generation college student. Usually these items include professional attire, plane tickets to conferences, rent and groceries for unpaid summer internships, and general family emergency packages for unexpected medical emergencies, evictions, and other serious and personal events.
        <br><br>
        By working together with financial aid offices and scholarship programs in colleges all across America, BookerT will augment the impact of existing resources and give first-generation college students the agency to take more control over their academic and extracurricular lives.
>>>>>>> ff0ac07abd496ed56b0d1a586a7cce5a7e8b19bf
       </p>
</div>
<div class="jumbotron">
  <h2>How it Works</h2><br>
  <p style="font-size:24px">
<<<<<<< HEAD
    Students and mentor-donors must create an account and a basic profile, with an attached wishlist, on which the student places screenshots of the items' prices. The student's profile will then be visible to mentor-donors who have signed up and are looking to sponsor a student or students.<br>
    In order to sponsor a student, please transfer donations to bookertapp.washington@gmail.com via Square and state the name and email address of the student within the message (as well as any kind words!). To give a general donation, head over to the Donate to the BookerT Fund page.
  </p>
</div>
<div class="jumbotron">
  <h2>The Pilot Program</h2><br>
  <p style="font-size:24px">
    Starting January 2015, we will be launching our pilot program. Through our application process, we will be selecting six BookerT Scholars to receive money for professional attire and transportation. Over the course of the semester, they will be giving us feedback and blogging about their experience in our program. We will learn and continue building BookerT to cater to more students and more needs.<br>
    To apply to be a Scholar, go to: https://docs.google.com/a/georgetown.edu/forms/d/1tGQsIc_FrpbTsEFBoExa3-Nm8yEMcfKtmr7G5S9J7WY/viewform
  </p>
</div>
<div class="jumbotron">
  <h2>Reach out to Us</h2><br>
  <p style="font-size:24px">
    We have a Twitter: @BookerTScholar <br>
    And an email: bookertapp.washington@gmail.com <br>
    And a Facebook: https://www.facebook.com/bookertscholar
  </p>
</div>
=======
    Students and mentor-donors must create an account and a basic profile, with an attached wishlist, on which the student places screenshots of the items' prices, as per the vendor website. The student's profile will then be visible to mentor-donors who have signed up and are looking to sponsor a student or students. In order to sponsor a student, simply Square the donation to bookertapp.washington@gmail.com and state the name and email address of the student as the message (as well as any kind words!). To give a general donation (and thus qualify for tax-exempt status), go to the Donate to the BookerT Fund page.
  </p>
</div>
>>>>>>> ff0ac07abd496ed56b0d1a586a7cce5a7e8b19bf
