<div class="jumbotron">
       <h2>About BookerT</h2><br>
       <p style="font-size:24px">
       	BookerT was founded to try to close the equity gap in higher education faced by many first-generation college students. 
       </p>
       <p style="font-size:24px">
        First-generation college students at institutions of higher learning often do not receive the support they need to excel (ie. to thrive, not just survive). BookerT aims to address the lack of funding for professional development, unpaid internships, and family emergencies by leveraging the power of the personal network and crowdfunding in order to subsidize the cost of items normally prohibitively unaffordable to the average first-generation college student. Usually these items include professional attire, plane tickets to conferences, rent and groceries for unpaid summer internships, and general family emergency packages for unexpected medical emergencies, evictions, and other serious and personal events.
        <br><br>
        By working together with financial aid offices and scholarship programs in colleges all across America, BookerT will augment the impact of existing resources and give first-generation college students the agency to take more control over their academic and extracurricular lives.
       </p>
</div>
<div class="jumbotron">
  <h2>How it Works</h2><br>
  <p style="font-size:24px">
    Students and mentor-donors must create an account and a basic profile, with an attached wishlist, on which the student places screenshots of the items' prices, as per the vendor website. The student's profile will then be visible to mentor-donors who have signed up and are looking to sponsor a student or students. In order to sponsor a student, simply Square the donation to bookertapp.washington@gmail.com and state the name and email address of the student as the message (as well as any kind words!). To give a general donation (and thus qualify for tax-exempt status), go to the Donate to the BookerT Fund page.
  </p>
</div>
