<div class="jumbotron">
       <h1 style="font-size:48px">Donate to the BookerT Fund</h1>
</div>
<div class="jumbotron">
			<h2><b>Step One</b></h2><br>
       <p style="font-size:24px">
       	Sign up with Square at <a href="http://square.com/cash">square.com/cash</a> to enable emailing your donations from your bank account to BookerT!
       </p>
</div>
<div class="jumbotron">
			<h2><b>Step Two</b></h2><br>
				<p style="font-size:24px">
       	Send your donation to <b>bookert.washington@gmail.com</b>. CC <b>send@square.com</b> and enter the dollar amount (with dollar sign) in the Subject line. And add a message about how awesome BookerT is, if you'd like!
       	</p>
</div>

