<div class="jumbotron">
       <h1 style="font-size:48px">View Student Profiles</h1>
</div>
<div class="jumbotron">
			<h2><b>In Progress</b></h2><br>
       <p style="font-size:24px">
       	Entertain yourself at <a href="http://xkcd.com">xkcd.com</a> while we continue building the site!
       </p>
</div>